*.local
node_modules
dist
stats.html
build_file
cookie.json
cookies.pkl
.idea
*.log
config.json
*_cookies.pkl
.git
*.mp4
chromedriver.exe
Chrome
libmpv-2.dll
ttt.py
*.pkl
*.wav
logs/
话术目录/
simpleobsws-1.4.2-py3-none-any.whl
nuitka-crash-report.xml
__pycache__/
